@import "bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all.css";

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// UTILITY
.ms_container {
    width: 80%;
    margin: 0 auto;
}